h1{
    text-align: center;
    color: #e9ecf1;
    font-family: sans-serif;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
form{
    display: flex;
    width: 500px;
    flex-direction: column;    
    text-align: left;
    /* border: 1px solid black; */
    z-index: 1000;
    box-shadow: 1px 1px 1px 1px black;
}
.flexit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    

}
label{
    color: #e9ecf1;
    font-family: sans-serif;
}
input{
    width: 200px;
    height: 22px;
    outline: none;
}

button{
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9ecf1;
    background-color: #35393f;
    border: 1px solid #35393f;
    margin-bottom: 3px;
    margin-left: 3px;
    font-family: sans-serif;
}